{% extends "admins/base.html" %}

{% block title %}
    <title>Admin - Modified Form</title>
{% endblock %}
{% block style %}
<style>
#hidden_div {
    display: none;
}
.Forms {
    text-align:center;
    justify-content: center;
    align-items: center; 
}

form {
    border: 2px solid darkred;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    
}
.form_contents{
    text-decoration: none;
    text-align: left;
    margin-left: 25px;

}
input {
    width: 350px;
    text-align: center;
    height: 30px;
    font-size: 28px;

}

br {
 clear: left;
}

select{
        height: 30px;
        width: 200px;
        font-size: 18px;
        overflow: hidden;
        outline: none;

    }
    select option {
    margin: 40px;
    background: rgb(151, 151, 151);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-size: 20px;}
    .identity{
        margin-bottom: 10px;
        color: darkred;
    }
    .label_identity{
        margin-bottom: 5px;
        margin-top: 30px;
        font-weight: bold;
    }
    #submit{
        height: 50px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        border: 2px solid darkred;
        border-radius: 15px;
        background: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
        box-shadow: 0 2px 5px 2px rgba(19, 35, 47, 0.3);
    }
    #submit:hover {
        background: rgb(100, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        
    }
</style>
{% endblock %}

{% block mobile_nav %} <h4>Admin Profile</h4> {% endblock %}
{% block mobile_nav_items %}
    <a  href="{% url 'appointment_setter:admin-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}
{% block sidebar %}<h4>Admin Profile</h4>{% endblock %}
      
{% block sidebar_items %}
<a href="{% url 'appointment_setter:admin-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}

{% block content %}

<div class="Forms">
    <h1 style="text-align: center;">APPOINTMENT FOR APPROVAL FORM</h1>
    <form name="ApprovalForm" method="POST" id="approvalForm">
            <!-- {{ datas }} -->
            {% csrf_token %}
        <div class="label_identity">ADMIN APPROVAL</div>
        <div class="form_contents">     
            {{form.as_p}}
        </div>
        <br>    
        <p name = "">
            <input id="submit" type="submit" value="Send" name="Submit">
        </p>
    </form>
</div>

{% endblock content %}
{% block js %}
<script>
    var a =localStorage.getItem("Student_num");
    var b = localStorage.getItem("ReqDocu");
    var c = localStorage.getItem("ReqDate");
    var d = localStorage.getItem("ReqTime");
    // alert ("Student num received is" + b);
    document.getElementById("StudentName").innerHTML = (a);
    document.getElementById("RequestedDocu").innerHTML = (b);
    document.getElementById("RequestedDate").innerHTML = (c);
    document.getElementById("RequestedTime").innerHTML = (d);
    
    // console.log("its working");
    // console.log(b.textContent);
    var reset = 0;
    localStorage.setItem("Student_num", reset);
</script>

<script type="text/javascript">
    $(function() {
    var date = new Date();
    var currentMonth = date.getMonth();
    var currentDate = date.getDate();
    var currentYear = date.getFullYear();
    $('#date').datepicker({
    dateFormat:"MM d, yy",
    minDate: new Date(currentYear, currentMonth, currentDate)
    });
    });
</script>

{% endblock %}