{% extends "admin/base.html" %}
{% load static %}


{% block title %}
{% comment %} I CHANGE THIS {% endcomment %}
  <title>Admin - Dashboard</title>
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
  <style>
    .cardSet{
    width: 90%;
    margin: 50px auto;
    box-sizing: border-box;
  }
  .search{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: row;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .card{
    width: 20%;
    background: rgba(255, 204, 204, 0.658);
    border: 1px solid darkred ;  
    opacity: 0.9;
    margin-bottom: 50px;
    transition: 0.3s ease-in;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

  }

  .card-content, .card-label{
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: left;
    padding: 2px 5px;
    margin-left: 20px;
  }
  .card-content{
    margin-bottom: 10px;
  }
  .card-label{
    margin-bottom: -25px;
    margin-top: 10px;
  }
  .card:hover{
    background: rgba(255, 39, 39, 0.603);
  
  }
  input{
    outline: none;
    border-bottom: 2px solid darkred;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    width: 200%;

  }
  input:focus{
    outline: none;
    border-bottom: 2px solid #1da1f2;
  }
  .search{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    position: relative;
    left: -150px;
    box-sizing: border-box;

  }
  form{
    padding: 20px;
    justify-content: space-between;
    display: inline-flex;
    width: 150%;
  }
  .search-bttn {
    border: 0;
    outline: none;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .09em;
    background: #a11818;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    width: 50%;
  }
  .search-bttn:hover, .search-bttn:focus {
    background: #3a3b3b;
  }
  @media screen and (max-width: 1600px){
    .card{
      width: 35%;
    }
    .search{
      width: 105%;
      position: relative;
      left: -40px;
      justify-content: space-evenly;
      width: 100%;
    }
    .form{
      margin: 120px;
    }
  }
  @media screen and (max-width: 1045px){
    .card{
      width: 45%;
    }
  }
  @media screen and (max-width: 780px){
    .card{
      width: 90%;
    }
    .cardSet{
      margin: 10px auto;
    }
    .search{
      width: 200%;
      position: relative;
      left: -50px;
      display: inline-block;
      justify-content: space-between;
      margin-right: 90px;
    }
    form{
      width: 135%;
      overflow: hidden;
      box-sizing: border-box;
    }
    .search{
      width: 200%;
      position: relative;
      left: -50px;
      display: inline-block;
      box-sizing: border-box;
    }
    form{
      width: 135%;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
  </style>
{% endblock %}
{% block mobile_nav %} <h4>Admin Profile</h4> {% endblock %}
        
{% block mobile_nav_items %}
    <a class="active" href="{% url 'appointment_setter:admin-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}

{% block sidebar %}
{%if user.is_authenticated and user.is_superuser%}
  <h4>Admin Profile</h4>
{% else %}
  <h4 style = "text-transform: capitalize;" >{{user.last_name}},{{user.first_name}}</h4>
{% endif %}

{% endblock %}

{% block sidebar_items %}
<a class="active" href="{% url 'appointment_setter:admin-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}
{%block content%}
<div class="cardSet" >
  <div class="row">
    {% for readAppointment in readAppointment %}
    
      <div class="card" >
        <a id="card{{ forloop.counter}}" href="{% url 'appointment_setter:admin-about' readAppointment.id %}">
          <div >
            <div class="card-label">Student Number:</div>
            <h2 class="card-content" id="StudentNum1" style = "text-transform: capitalize">{{ readAppointment.user.last_name }}, {{readAppointment.user.first_name}}</h2> <!--index 0-->
            <div class="card-label">Requested Document:</div>
            <h3 class="card-content" id="ReqDoc1" >{{ readAppointment.student_req_docu }}</h3> <!--index 1-->
            <div class="card-label" >Date Requested:</div>
            <h4 class="card-content" id="ReqDate1" >{{ readAppointment.req_date }}</h4> <!--index 2-->
            <div class="card-label" >Time Requested:</div>
            <h4 class="card-content" id="ReqTime1" >{{ readAppointment.req_time_choices}}</h4><!--index 3-->
            <div class="card-label" >Appointment Status</div>
            <h4 class="card-content" id="Status1" style="color: darkblue">{{ readAppointment.status_field }}</h4>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div> 

{% comment %} I add this! {% endcomment %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% for message in messages %}
      Swal.fire({
        icon: 'success',
        position: 'top-end',
        title: '<br> {{message}} <br>',
        timerProgressBar: true,
        showConfirmButton: false,
        timer: 1500
      })
    {% endfor %}
  
</script>

{% endblock %}

{% block js %}

  
{% endblock %}