{% extends "admins/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<style>
    select{
        height: 30px;
        width: 200px;
        font-size: 18px;
        overflow: hidden;
        outline: none;

    }
    /* select option:checked {
    background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
    } */
    /* select option:hover {
    background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
    color: #fff;
    } */
    select option {
    margin: 40px;
    background: rgb(151, 151, 151);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-size: 20px;
}
</style>
{% endblock %}

{% block title %}
{% if user.is_authenticated %}
  <title>{{user.username}} - Dashboard</title>
{% endif %}
{% endblock %}

{% block mobile_nav %} 
{% if user.is_authenticated %}
    <h4 style = "text-transform: capitalize;">{{user.last_name}},{{user.first_name}}</h4>
{% endif %}
{% endblock %}

{% block mobile_nav_items %}
    <a class="active" href="{% url 'appointment_setter:dashboard-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}
{% block sidebar %}
{% if user.is_authenticated %}
    <h4 style = "text-transform: capitalize;" >{{user.last_name}},{{user.first_name}}</h4>
{% endif %}
{% endblock %}
      
{% block sidebar_items %}
<a class="active" href="{% url 'appointment_setter:dashboard-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class = "alert alert-success m-2 alert-{{message.tags}}" id = "msg1" role = "alert">{{message}}</div>
        {% endfor %}
    {% endif %}

    <form name="approvalForm" method = "POST"  autocomplete="off"> <!--onsubmit="event.preventDefault();onFormSubmit();" I TEMPORARILY REMOVE THIS ONE-->                 
        
        <div class="avatar">
        <img src="{% static 'img/logo.jpg' %}" alt="">
        <h4>STUDENT APPOINTMENT REQUEST FORM</h4>
        </div>
        <div class="formContents">
            {% csrf_token %}
            {{form.as_p}}
            <br>            
            <input type="hidden" name="user_name" id="user_name" placeholder="e.g. COR" required style="text-transform:uppercase" value = "{{user.first_name}} {{user.last_name}}"> 
            
            <!-- <div>
                
                <label>REQUESTED DOCUMENT</label><label class="validation-error hide" id="docxValidationError">This field is required.</label>
                
                <input type="text" name="student_req_docu" id="student_requested_docu" placeholder="e.g. COR" required style="text-transform:uppercase">
            </div>
            <div>
                <label>DATE REQUESTED</label><label class="validation-error hide" id="dateValidationError">This field is required.</label>
                <input type="text" name="req_date" id="date" placeholder="mm/dd/yy" readonly style="cursor: pointer;" >
                
            </div>
            <div>
                <label>TIME REQUESTED</label>
                <select name="req_time_choices" id="time" required>
                <option class="choiceTime" >-- Select a time --</option>
                <option class="choiceTime" >8:00 - 9:00 AM</option>
                <option class="choiceTime" >9:00 - 10:00 AM</option>
                <option class="choiceTime" >10:00 - 11:00 AM</option>
                <option class="choiceTime" >2:00 - 3:00 PM</option>
                <option class="choiceTime" >3:00 - 4:00 PM</option>
                </select> -->
                <!-- <label class="validation-error hide" id="timeValidationError">This field is required.</label>
            </div> -->
            
        </div>
        <div  class="form-action-buttons">
            <input type="submit" class = "button" value="Submit">
        </div>
        <!-- {% if messages %}
            {% for message in messages %}
            <div style ="color:green;" id = "msg1" role = "alert">{{message}}</div>
            {% endfor %}
        {% endif %} -->
    </form>
    <table class="list" id="appointmentList">
        <thead>
            <tr>
                <th>REQUESTED DOCUMENT</th>
                <th>DATE REQUESTED</th>
                <th>TIME REQUESTED</th>
                <th>STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for read in readAppointment %}
            <tr>
                <td>{{read.student_req_docu}}</td>
                <td>{{read.req_date}}</td>
                <td>{{read.req_time_choices}}</td>
                <td>{{read.status_field}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {
    var date = new Date();
    var currentMonth = date.getMonth();
    var currentDate = date.getDate();
    var currentYear = date.getFullYear();
    $('#date').datepicker({
    dateFormat:"MM d, yy",
    minDate: new Date(currentYear, currentMonth, currentDate)
    });
    });
</script>


{% endblock %}