body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
    background: white;
}
table.list{
    width:100%;
}

.table{
    width: 90%;
    margin: 50px auto;
    box-sizing: border-box;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

.list tr:nth-child(even),table.list thead>tr {
    background-color: #ff9f9f;
}


input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: rgba(255,0,0,0.4);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

input[type=submit]:hover{
    background-color: rgba(255,0,0,0.3);
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #4b0000;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
.avatar {
    margin:20px 0px 10px;
    text-align:center;
}

.avatar img {
    width: 300px;
    height: 300px;
    border-radius:50%;
  }