{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dycalendarjs@1.2.1/css/dycalendar.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    {% block title %} {% endblock %}
    {% block style %} {% endblock %}
</head>
<body>


    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <img src="{% static 'img/TUPC.png' %}" class="mobile_profile_image" alt="">
        <h5>Technological University of the Philippines</h5>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="{% static 'img/avatar.png' %} " class="mobile_profile_image" alt="">
        <div class="profile_infos" style="color: white; font-size: 20px;">
          {% block mobile_nav %} {% endblock %}

        </div>
        <i class="fa fa-bars nav_btn"></i>
        
      </div>
      <div class="mobile_nav_items">
        {% block mobile_nav_items %} {% endblock %}
      
        <a href="{% url 'appointment_setter:main-home' %}"><i class="fas fa-power-off"></i><span>Log-out</span></a>
  
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="{% static 'img/avatar.png' %} " class="profile_image" alt="">
        {% block sidebar %} {% endblock %}
      </div>
      {% block sidebar_items %} {% endblock %}

      <a href="{% url 'appointment_setter:main-home' %}"><i class="fas fa-power-off"></i><span>Log-out</span></a>
    </div>
    <!--sidebar end-->
  
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>
    {% block js %} {% endblock %}
        

</body>
</html>