{% extends "admin/base.html" %}

{% block title %}
    <title>Admin - Modified Form</title>
{% endblock %}
{% block style %}
<style>
#hidden_div {
    display: none;
}
.Forms {
    text-align:center;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid darkred;
}
.form_contents{
    text-decoration: none;

}
input {
 width: 200px;
}

br {
 clear: left;
}

select{
        height: 30px;
        width: 200px;
        font-size: 18px;
        overflow: hidden;
        outline: none;

    }
    select option {
    margin: 40px;
    background: rgb(151, 151, 151);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-size: 20px;}
    .identity{
        margin-bottom: 10px;
        color: darkred;
    }
    .label_identity{
        margin-bottom: 5px;
        margin-top: 30px;
    }
    #submit{
        height: 50px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        border: 2px solid darkred;
        border-radius: 15px;
        background: white;
        color: rgb(0, 0, 0);
    }
    #submit:hover {
        background: rgb(100, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
    }
</style>
{% endblock %}

{% block mobile_nav %} <h4>Admin Profile</h4> {% endblock %}
{% block mobile_nav_items %}
    <a  href="{% url 'admin-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}
{% block sidebar %}<h4>Admin Profile</h4>{% endblock %}
      
{% block sidebar_items %}
<a href="{% url 'admin-home' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
{% endblock %}

{% block content %}

<div class="Forms">
    <h1 style="text-align: center;">APPOINTMENT FOR APPROVAL FORM</h1>
    <form name="ApprovalForm" action="{% url 'admin-home' %}" 
            onsubmit="return approval()" method="get" id="approvalForm">
        <div class="form_contents">
            <div class="label_identity">Student ID</div>
            <h2 class="identity" id="StudentName"></h2>
        </div>
        <div class="form_contents">
            <div class="label_identity">Requested Document</div>
            <h2 class="identity" id="RequestedDocu"></h2>
        </div>
        <div class="form_contents">
            <div class="label_identity">Requested Date of Appointment</div>
            <h2 class="identity" id="RequestedDate"></h2>
        </div>
        <div class="form_contents">
            <div class="label_identity">Requested Time of Appointment</div>
            <h2 class="identity" id="RequestedTime"></h2>
        <div class="form_contents">
            <div class="label_identity"v>Change appointment time?</div>
            <select class="identity" id="OptionChange" name="form_select" onchange="showDiv('hidden_div', this)">
                <option value="0">No</option>
                <option value="1">Yes</option>
             </select> 
        </div>
            <div class="label_identity" id="hidden_div">
                <select class="identity" id="ChangeAppTime" type="text" value="" name="ChangeAppTime">
                    <option>---</option>
                    <option>8:00 - 9:00 AM</option>
                    <option>9:00 - 10:00 AM</option>
                    <option>10:00 - 11:00 AM</option>
                    <option>2:00 - 3:00 PM</option>
                    <option>3:00 - 4:00 PM</option>
                    <option>4:00 - 5:00 PM</option>
                </select>
            </div>
        <div class="form_contents">
            <div class="label_identity">APPROVAL STATUS</div>
            <select class="identity" type="text" value="" name="AppStatus">
                <option>---</option>
                <option>Waiting List</option>
                <option>Declined</option>
                <option>Appointment Accepted</option>
            </select>
        </div>
        <br>    
        <p name = "">
            
            <input id="submit" type="submit" value="Send" name="Submit">
        </p>
    </form>
</div>

{% endblock content %}
{% block js %}
<script>
    var a =localStorage.getItem("Student_num");
    var b = localStorage.getItem("ReqDocu");
    var c = localStorage.getItem("ReqDate");
    var d = localStorage.getItem("ReqTime");
    // alert ("Student num received is" + b);
    document.getElementById("StudentName").innerHTML = (a);
    document.getElementById("RequestedDocu").innerHTML = (b);
    document.getElementById("RequestedDate").innerHTML = (c);
    document.getElementById("RequestedTime").innerHTML = (d);
    
    // console.log("its working");
    // console.log(b.textContent);
    var reset = 0;
    localStorage.setItem("Student_num", reset);
</script>
<script>
    function approval() {
        var AppStatus = document.forms["ApprovalForm"]["AppStatus"];
        var form_select = document.forms["ApprovalForm"]["form_select"];

        var select = document.getElementById('OptionChange');

        if (select.options[select.selectedIndex].value == 1){
            ChangeTimeEnable();
            if (document.getElementById('ChangeAppTime').options[document.getElementById('ChangeAppTime').selectedIndex].text != "---")
                {
                // alert("The date is change");
                return true;
            }else {
                return false;
            }
            
        }
        if (AppStatus.selectedIndex < 1) {
            alert("Please choose approval status.");
            AppStatus.focus();
            return false;
        }
        return true;

    }
    function ChangeTimeEnable(){
        var ChangeAppTime = document.getElementById('ChangeAppTime');
            if (ChangeAppTime.options[ChangeAppTime.selectedIndex].text == "---"){
                alert("You are attempting to submit a blank response in time");
                ChangeAppTime.focus();
                return false;
            }
    }
    function showDiv(divId, element)
    {
        document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
    }
    // function changingTime(){
    //     alert("Im now Changing time")
    // }
</script>
{% endblock %}